{% extends 'layouts/base.html' %}

{% block title %} Visulization {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <!--Tabel dataset-->
  <!-- offcanvas -->
<body onload="detectKeterangan()">
  <main class="mt-5 pt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h4>Generate Word Cloud</h4>
        </div>
      </div>
    </div>

   

   

    <div class="container-fluid py-3" >
      <div class="row">
        <div class="col-10">
          <div class="card mb-3">
            <div class="card-header pb-0">
            <form action="{{ url_for('home_blueprint.wcs') }}", method="post">

            <div class="mb-3">
                <label for="select_column" class="form-label">Pilih data yang akan ditampilkan:</label>
                <select id="select_column" name="column" value="{{ plot_columns }}" class="form-select" aria-label="Default select example">
                    <option disabled selected>Pilih data</option>
                    <option value="pasal_hukuman" {% if 'pasal_hukuman' in plot_columns %} selected {% endif %} >Pasal Hukuman</option>
                    <option value="pasal_tuntutan" {% if 'pasal_tuntutan' in plot_columns %} selected {% endif %}>Pasal Tuntutan</option>
                    <option value ="jenis_kendaraan" {% if 'jenis_kendaraan' in plot_columns %} selected {% endif %}>Jenis Kendaraan</option>
                    </select>
            </div>

            <div class="mb-3">
              <label for="select_cluster" class="form-label">Pilih Cluster:</label>
              <select id="select_cluster" name="cluster" class="form-select" aria-label="Default select example">
                  <option disabled selected>Pilih data</option>
                  <option value="0" {% if '0' in plot_clusters %} selected {% endif %}>0</option>
                  <option value="1" {% if '1' in plot_clusters %} selected {% endif %}>1</option>
                  <option value="2" {% if '2' in plot_clusters %} selected {% endif %}>2</option>
                  <option value="3" {% if '3' in plot_clusters %} selected {% endif %}>3</option>
                  <option value="4" {% if '4' in plot_clusters %} selected {% endif %}>4</option>
                  <option value="5" {% if '5' in plot_clusters %} selected {% endif %}>5</option>
                  <option value="6" {% if '6' in plot_clusters %} selected {% endif %}>6</option>
                  <option value="7" {% if '7' in plot_clusters %} selected {% endif %}>7</option>
                  <option value="8" {% if '8' in plot_clusters %} selected {% endif %}>8</option>
              </select>
            </div>


            <div class="text-center">
                <button type="submit" name="submit" class="btn bg-gradient-info">Submit</button>
            </div>

            </form>
            <div class="card-body text-center">
              <img class="plot" style="width: 50%;" src="data:image/png;base64, {{ plot_forms }}" >
            </div>
  
          <p></p>
          <p id="detail">Keterangan:</p>
          <ul id="detail_point">
            <li>
              {{ plot_details }}
            </li>
          </ul>
    
          </div>
            <div class="card-body px-0 pt-0 pb-2">
                  
          </div>
        </div>
      </div>
    </div>
  </main>
</body>


    <script>
      // function detectJenisKendaraan(){
      //   var select_column = document.getElementById("select_column")
      //   var select_table = document.getElementById("select_table")

      //   if (select_column.value=="jenis_kendaraan"){

      //     select_table.disabled = true;
      //     select_table.selectedIndex = 0;
      //   }
      //   else{
      //     select_table.disabled = false;
      //   }

      // }

      function detectKeterangan(){
        var keterangan = document.getElementById('detail')
        var data = document.getElementById('detail_point')

        if (data.innerText == ""){
          keterangan.remove();
          data.remove();
        }
      }
    </script>

      {% include "includes/footer.html" %}

  

{% endblock content %}


