{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <!--Tabel dataset-->
  <!-- offcanvas -->
  <main class="mt-5 pt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h4>Satlantas Polrestabes Kota Makassar</h4>
        </div>
      </div>
    </div>

    <div class="container-fluid py-3" >
      <div class="row">
        <div class="col-10">
          <div class="card mb-3">
            <div class="card-header pb-0">
              <p>Website ini memuat informasi tentang jenis-jenis pelanggaran yang sering terjadi di Makassar. 
                Pemanfaatan algoritma K-Medoids dilakukan untuk membagi data pelanggaran ke beberapa cluster.
                Diperoleh 9 cluster yang berbeda dan telah divisualisasikan dalam bentuk Word Cloud yang diharapkan 
                dapat membantu pihak Satlantas dalam memberi penindakan dan penanganan yang tepat bagi para pengendara guna
                meminimalisir terjadinya pelanggaran lalu lintas di Makassar.
              </p>
              <p>Berikut jenis-jenis pasal yang berkaitan dengan pelanggaran lalu lintas :</p>
              <ul>
                <li>Pasal 58</li>
                <li>Pasal 68 ayat (1)</li>
                <li>Pasal 70 ayat (2)</li>
                <li>Pasal 77 ayat (1)</li>
                <li>Pasal 104 ayat (3)</li>
                <li>Pasal 106 ayat (1)</li>
                <li>Pasal 106 ayat (3)</li>
                <li>Pasal 106 ayat (4) huruf a</li>
                <li>Pasal 106 ayat (4) huruf b</li>
                <li>Pasal 106 ayat (4) huruf c</li>
                <li>Pasal 106 ayat (4) huruf e</li>
                <li>Pasal 106 ayat (4) huruf g</li>
                <li>Pasal 106 ayat (5) huruf a</li>
                <li>Pasal 106 ayat (5) huruf b</li>
                <li>Pasal 106 ayat (5) huruf c</li>
                <li>Pasal 106 ayat (6) </li>
                <li>Pasal 106 ayat (8)</li>
                <li>Pasal 106 ayat (9)</li>
                <li>Pasal 115 huruf a</li>
                <li>Pasal 115 huruf b</li>
                <li>Pasal 121 ayat (1)</li>
                <li>Pasal 122</li>
                <li>Pasal 125</li>
                <li>Pasal 137 ayat (4)</li>
                <li>Pasal 169 ayat (1)</li>
                <li>Pasal 173 ayat (1) huruf a</li>
                <li>Pasal 279</li>
                <li>Pasal 280</li>
                <li>Pasal 281</li>
                <li>Pasal 282</li>
                <li>Pasal 283</li>
                <li>Pasal 285 ayat (1)</li>
                <li>Pasal 285 ayat (2)</li>
                <li>Pasal 287 ayat (3)</li>
                <li>Pasal 287 ayat (5)</li>
                <li>Pasal 288 ayat (1)</li>
                <li>Pasal 288 ayat (2)</li>
                <li>Pasal 288 ayat (3)</li>
                <li>Pasal 289</li>
                <li>Pasal 291 ayat (1)</li>
                <li>Pasal 291 ayat (2)</li>
                <li>Pasal 292</li>
                <li>Pasal 297</li>
                <li>Pasal 298</li>
                <li>Pasal 299</li>
                <li>Pasal 301</li>
                <li>Pasal 303</li>
                <li>Pasal 307</li>
                <li>Pasal 308 huruf a</li>
              </ul>  
              
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              
            </div>
          </div>
        </div>
      </div>  
    </div>
  

      
    

      {% include "includes/footer.html" %}

  

{% endblock content %}


