{% extends 'layouts/base.html' %}

{% block title %} Word Cloud {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <!--Tabel dataset-->
  <!-- offcanvas -->
  <main class="mt-5 pt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h4>Word Cloud Cluster</h4>
        </div>
      </div>
    </div>

   

      <div class="row">
        <div class="col-10 mb-3">
          <div class="card h-100">
            <div class="card-header pb-0">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Word Cloud Cluster 0
            </div>
            <div class="card-body">
              <table>
                <tr>
                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster0a }}"> </td>
                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster0b }}"> </td>
                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster0c }}"> </td> 
                </tr>
              </table>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-5 mb-3">
          <div class="card h-100">
            <div class="card-header">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Word Cloud Cluster 2
            </div>
            <div class="card-body">
              <img class="plot" style="width: 50%;"  src="data:image/png;base64, {{ plot_cluster1 }}" >
            </div>
          </div>
        </div> -->

        
      <!-- <div class="row">
        <div class="col-md-5 mb-3">
          <div class="card h-100">
            <div class="card-header">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Word Cloud Cluster 3
            </div>
            <div class="card-body">
              <img class="plot" style="width: 50%;" src="data:image/png;base64, {{ plot_cluster0 }}" >
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-10 mb-3">
          <div class="card h-100">
            <div class="card-header">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Word Cloud Cluster 1
            </div>
            <div class="card-body">
              <table>
                <tr>
                  <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster1a }}"> </td>
                  <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster1b }}"> </td>
                  <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster1c }}"> </td> 
                </tr>
              </table>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-10 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Word Cloud Cluster 2
              </div>
              <div class="card-body">
                <table>
                  <tr>
                    <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster2a }}"> </td>
                    <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster2b }}"> </td>
                    <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster2c }}"> </td> 
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-10 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                  Word Cloud Cluster 3
                </div>
                <div class="card-body">
                  <table>
                    <tr>
                      <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster3a }}"> </td>
                      <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster3b }}"> </td>
                      <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster3c }}"> </td> 
                    </tr>
                  </table>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-10 mb-3">
                <div class="card h-100">
                  <div class="card-header">
                    <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                    Word Cloud Cluster 4
                  </div>
                  <div class="card-body">
                    <table>
                      <tr>
                        <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster4a }}"> </td>
                        <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster4b }}"> </td>
                        <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster4c }}"> </td> 
                      </tr>
                    </table>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-10 mb-3">
                  <div class="card h-100">
                    <div class="card-header">
                      <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                      Word Cloud Cluster 5
                    </div>
                    <div class="card-body">
                      <table>
                        <tr>
                          <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster5a }}"> </td>
                          <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster5b }}"> </td>
                          <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster5c }}"> </td> 
                        </tr>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-10 mb-3">
                    <div class="card h-100">
                      <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Word Cloud Cluster 6
                      </div>
                      <div class="card-body">
                        <table>
                          <tr>
                            <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster6a }}"> </td>
                            <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster6b }}"> </td>
                            <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster6c }}"> </td> 
                          </tr>
                        </table>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-10 mb-3">
                      <div class="card h-100">
                        <div class="card-header">
                          <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                          Word Cloud Cluster 7
                        </div>
                        <div class="card-body">
                          <table>
                            <tr>
                              <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster7a }}"> </td>
                              <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster7b }}"> </td>
                              <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster7c }}"> </td> 
                            </tr>
                          </table>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-10 mb-3">
                        <div class="card h-100">
                          <div class="card-header">
                            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                            Word Cloud Cluster 8
                          </div>
                          <div class="card-body">
                            <table>
                              <tr>
                                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster8a }}"> </td>
                                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster8b }}"> </td>
                                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster8c }}"> </td> 
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
      
    </div>

      {% include "includes/footer.html" %}

  

{% endblock content %}


