{% extends 'layouts/base.html' %}

{% block title %} Word Cloud {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <!--Tabel dataset-->
  <!-- offcanvas -->
  <main class="mt-5 pt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h4>Word Cloud Cluster</h4>
        </div>
      </div>
    </div>

   

      <div class="row">
        <div class="col-11 mb-3">
          <div class="card h-100">
            <div class="card-header pb-0">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Word Cloud Cluster 0
            </div>
            <div class="card-body">
              <table>
                <tr>
                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster0a }}"> </td>
                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster0b }}"> </td>
                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster0c }}"> </td> 
                
                </tr>
              </table>
              <p></p>
              <p>Keterangan:</p>
              <ul>
                <li>Pasal 106 ayat (5) huruf a = Pada saat diadakan pemeriksaan Kendaraan Bermotor di 
                    Jalan setiap orang yang mengemudikan Kendaraan Bermotor wajib menunjukkan Surat Tanda Nomor Kendaraan Bermotor atau Surat 
                    Tanda Coba Kendaraan Bermotor.</li>
                <li>Pasal 288 ayat (1) = Setiap orang yang mengemudikan Kendaraan Bermotor di Jalan yang tidak dilengkapi dengan Surat Tanda 
                    Nomor Kendaraan Bermotor atau Surat Tanda Coba Kendaraan Bermotor yang ditetapkan oleh Kepolisian 
                    Negara Republik Indonesia sebagaimana dimaksud dalam Pasal 106 ayat (5) huruf a dipidana dengan pidana 
                    kurungan paling lama 2 (dua) bulan atau denda paling banyak Rp500.000,00 (lima ratus ribu rupiah).</li>
                <li>Jenis kendaraan yang sering melanggar = sepeda motor, mini bus, dan mobil penumpang.</li>
              </ul>
              </div>
            </div>
          </div>
        </div>


      <div class="row">
        <div class="col-11 mb-3">
          <div class="card h-100">
            <div class="card-header pb-0">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Word Cloud Cluster 1
            </div>
            <div class="card-body">
              <table>
                <tr>
                  <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster1a }}"> </td>
                  <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster1b }}"> </td>
                  <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster1c }}"> </td>
                  
                </tr>
              </table>
              <p></p>
              <p>Keterangan:</p>
              <ul>
                <li>Pasal 106 ayat (5) huruf b = Pada saat diadakan pemeriksaan Kendaraan Bermotor di 
                    Jalan setiap orang yang mengemudikan Kendaraan Bermotor wajib menunjukkan Surat Izin Mengemudi (SIM).</li>
                <li>Pasal 288 ayat (2) = Setiap orang yang mengemudikan Kendaraan Bermotor di Jalan yang tidak dapat menunjukkan Surat Izin 
                    Mengemudi yang sah sebagaimana dimaksud dalam Pasal 106 ayat (5) huruf b dipidana dengan pidana 
                    kurungan paling lama 1 (satu) bulan dan/atau denda paling banyak Rp250.000,00 (dua ratus lima puluh ribu rupiah).</li>
                <li>Jenis kendaraan yang sering melanggar = sepeda motor dan mini bus</li>
              </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-11 mb-3">
            <div class="card h-100">
              <div class="card-header pb-0">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Word Cloud Cluster 2
              </div>
              <div class="card-body">
                <table>
                  <tr>
                    <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster2a }}"> </td>
                    <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster2b }}"> </td>
                    <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster2c }}"> </td> 
                    
                  </tr>
                </table>
                <p></p>
                <p>Keterangan:</p>
                <ul>
                  <li>Pasal 77 ayat (1) = Setiap orang yang mengemudikan Kendaraan Bermotor di Jalan wajib memiliki Surat Izin Mengemudi sesuai 
                      dengan jenis Kendaraan Bermotor yang dikemudikan. 
                    </li>
                  <li>Pasal 281 = Setiap orang yang mengemudikan Kendaraan Bermotor di Jalan yang tidak memiliki Surat Izin Mengemudi 
                      sebagaimana dimaksud dalam Pasal 77 ayat (1) dipidana dengan pidana kurungan paling lama 4 (empat) bulan atau 
                      denda paling banyak Rp1.000.000,00 (satu juta rupiah).</li>
                  <li>Jenis kendaraan yang sering melanggar = sepeda motor dan mini bus</li>
                </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-11 mb-3">
              <div class="card h-100">
                <div class="card-header pb-0">
                  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                  Word Cloud Cluster 3
                </div>
                <div class="card-body">
                  <table>
                    <tr>
                      <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster3a }}"> </td>
                      <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster3b }}"> </td>
                      <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster3c }}"> </td> 
                      
                    </tr>
                  </table>
                  <p></p>
                  <p>Keterangan:</p>
                  <ul>
                    <li>Pasal 106 ayat (4) huruf c = Setiap orang yang mengemudikan Kendaraan Bermotor di 
                        Jalan wajib mematuhi ketentuan Alat Pemberi Isyarat Lalu Lintas. 
                      </li>
                    <li>Pasal 287 ayat (2) = Setiap orang yang mengemudikan Kendaraan Bermotor di Jalan yang melanggar aturan perintah atau larangan 
                        yang dinyatakan dengan Alat Pemberi Isyarat Lalu Lintas sebagaimana dimaksud dalam Pasal 106 ayat (4) huruf c 
                        dipidana dengan pidana kurungan paling lama 2 (dua) bulan atau denda paling banyak Rp500.000,00 (lima ratus ribu rupiah).</li>
                    <li>Jenis kendaraan yang sering melanggar = sepeda motor, mobil penumpang, mini bus</li>
                  </ul>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-11 mb-3">
                <div class="card h-100">
                  <div class="card-header pb-0">
                    <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                    Word Cloud Cluster 4
                  </div>
                  <div class="card-body">
                    <table>
                      <tr>
                        <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster4a }}"> </td>
                        <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster4b }}"> </td>
                        <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster4c }}"> </td> 
                        
                      </tr>
                    </table>
                    <p></p>
                    <p>Keterangan:</p>
                    <ul>
                      <li>Pasal 68 ayat (1) = Setiap Kendaraan Bermotor yang dioperasikan di Jalan wajib dilengkapi dengan Surat Tanda Nomor Kendaraan 
                          Bermotor dan Tanda Nomor Kendaraan Bermotor. 
                        </li>
                      <li>Pasal 280 = Setiap orang yang mengemudikan Kendaraan Bermotor di Jalan yang tidak dipasangi Tanda Nomor Kendaraan Bermotor 
                          yang ditetapkan oleh Kepolisian Negara Republik Indonesia sebagaimana dimaksud dalam Pasal 68 ayat (1) dipidana 
                          dengan pidana kurungan paling lama 2 (dua) bulan atau denda paling banyak Rp500.000,00 (lima ratus ribu rupiah).</li>
                      <li>Jenis kendaraan yang sering melanggar = sepeda motor, mobil penumpang, mini bus</li>
                    </ul>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-11 mb-3">
                  <div class="card h-100">
                    <div class="card-header pb-0">
                      <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                      Word Cloud Cluster 5
                    </div>
                    <div class="card-body">
                      <table>
                        <tr>
                          <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster5a }}"> </td>
                          <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster5b }}"> </td>
                          <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster5c }}"> </td> 
                         
                        </tr>
                      </table>
                      <p></p>
                      <p>Keterangan:</p>
                      <ul>
                        <li>Pasal 106 ayat (4) huruf a =  Setiap orang yang mengemudikan Kendaraan Bermotor di 
                          Jalan wajib mematuhi ketentuan rambu perintah atau rambu larangan. 
                          </li>
                        <li>Pasal 106 ayat (4) huruf b =  Setiap orang yang mengemudikan Kendaraan Bermotor di 
                            Jalan wajib mematuhi ketentuan Marka Jalan. 
                          </li>
                        <li>Pasal 287 ayat (1) = Setiap orang yang mengemudikan Kendaraan Bermotor di Jalan yang melanggar aturan perintah atau larangan 
                            yang dinyatakan dengan Rambu Lalu Lintas sebagaimana dimaksud dalam Pasal 106 ayat (4) huruf a atau Marka 
                            Jalan sebagaimana dimaksud dalam Pasal 106 ayat (4) huruf b dipidana dengan pidana kurungan paling lama 2 
                            (dua) bulan atau denda paling banyak Rp500.000,00 (lima ratus ribu rupiah). </li>
                        <li>Jenis kendaraan yang sering melanggar = sepeda motor dan mini bus</li>
                      </ul>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-11 mb-3">
                    <div class="card h-100">
                      <div class="card-header pb-0">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Word Cloud Cluster 6
                      </div>
                      <div class="card-body">
                        <table>
                          <tr>
                            <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster6a }}"> </td>
                            <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster6b }}"> </td>
                            <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster6c }}"> </td> 
                            
                          </tr>
                        </table>
                        <p></p>
                        <p>Keterangan:</p>
                        <ul>
                          <li>Pasal 106 ayat (6) = Setiap orang yang mengemudikan Kendaraan Bermotor 
                            beroda empat atau lebih di Jalan dan penumpang yang duduk di sampingnya wajib mengenakan sabuk keselamatan. 
                            </li>
                          <li>Pasal 289 = Setiap orang yang mengemudikan Kendaraan Bermotor atau Penumpang yang duduk di samping Pengemudi yang tidak 
                              mengenakan sabuk keselamatan sebagaimana dimaksud dalam Pasal 106 ayat (6) dipidana dengan pidana kurungan 
                              paling lama 1 (satu) bulan atau denda paling banyak Rp250.000,00 (dua ratus lima puluh ribu rupiah).</li>
                          <li>Jenis kendaraan yang sering melanggar = mobil penumpang dan mini bus</li>
                        </ul>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-11 mb-3">
                      <div class="card h-100">
                        <div class="card-header pb-0">
                          <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                          Word Cloud Cluster 7
                        </div>
                        <div class="card-body">
                          <table>
                            <tr>
                              <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster7a }}"> </td>
                              <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster7b }}"> </td>
                              <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster7c }}"> </td> 
                              
                            </tr>
                          </table>
                          <p></p>
                          <p>Keterangan:</p>
                          <ul>
                            <li>Pasal 106 ayat (8) = Setiap orang yang mengemudikan Sepeda Motor dan Penumpang Sepeda Motor wajib mengenakan helm yang 
                                memenuhi standar nasional Indonesia. 
                              </li>
                            <li>Pasal 291 ayat (1) = Setiap orang yang mengemudikan Sepeda Motor tidak mengenakan helm standar nasional Indonesia 
                                sebagaimana dimaksud dalam Pasal 106 ayat (8) dipidana dengan pidana kurungan paling lama 1 (satu) 
                                bulan atau denda paling banyak Rp250.000,00 (dua ratus lima puluh ribu rupiah).</li>
                            <li>Pasal 291 ayat (2) = Setiap orang yang mengemudikan Sepeda Motor yang membiarkan penumpangnya tidak mengenakan helm 
                                sebagaimana dimaksud dalam Pasal 106 ayat (8) dipidana dengan pidana kurungan paling lama 1 (satu) 
                                bulan atau denda paling banyak Rp250.000,00 (dua ratus lima puluh ribu rupiah).</li>
                            <li>Jenis kendaraan yang sering melanggar = sepeda motor</li>
                          </ul>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-11 mb-3">
                        <div class="card h-100">
                          <div class="card-header pb-0">
                            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                            Word Cloud Cluster 8
                          </div>
                          <div class="card-body">
                            <table>
                              <tr>
                                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster8a }}"> </td>
                                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster8b }}"> </td>
                                <td> <img class="plot" style="width: 90%;" src="data:image/png;base64, {{ plot_cluster8c }}"> </td> 
                               
                              </tr>
                            </table>
                            <p></p>
                            <p>Keterangan:</p>
                            <ul>
                              <li>Pasal 106 ayat (3) =Setiap orang yang mengemudikan Kendaraan Bermotor di 
                                Jalan wajib mematuhi ketentuan tentang persyaratan teknis dan laik jalan.  
                                </li>
                              <li>Pasal 106 ayat (5) huruf c = Pada saat diadakan pemeriksaan Kendaraan Bermotor di Jalan setiap orang yang mengemudikan Kendaraan 
                                  Bermotor wajib menunjukkan bukti lulus uji berkala</li>
                              <li>Pasal 285 ayat (1) = Setiap orang yang mengemudikan Sepeda Motor di Jalan yang tidak memenuhi persyaratan teknis dan laik jalan 
                                  yang meliputi kaca spion, klakson, lampu utama, lampu rem, lampu penunjuk arah, alat pemantul cahaya, alat 
                                  pengukur kecepatan, knalpot, dan kedalaman alur ban sebagaimana dimaksud dalam Pasal 106 ayat (3) juncto
                                  Pasal 48 ayat (2) dan ayat (3) dipidana dengan pidana kurungan paling lama 1 (satu) bulan atau denda paling 
                                  banyak Rp250.000,00 (dua ratus lima puluh ribu rupiah). 
                                </li>
                              <li>Pasal 288 ayat (3) = Setiap orang yang mengemudikan mobil penumpang umum, mobil bus, mobil barang, kereta gandengan, dan 
                                  kereta tempelan yang tidak dilengkapi dengan surat keterangan uji berkala dan tanda lulus uji berkala 
                                  sebagaimana dimaksud dalam Pasal 106 ayat (5) huruf c dipidana dengan pidana kurungan paling lama 2 (dua) bulan atau denda paling banyak Rp500.000,00 (lima 
                                  ratus ribu rupiah). </li>
                              <li>Jenis kendaraan yang sering melanggar = truk besar, mobil barang, mini bus, sepeda motor</li>
                            </ul>
                            </div>
                          </div>
                        </div>
                      </div>
      
    </div>

      {% include "includes/footer.html" %}

  

{% endblock content %}


